/.idea/
__pycache__/
/lib/FaceRecognizer/data/face/test.txt
/lib/FaceRecognizer/data/face/train.txt
/lib/FaceRecognizer/data/face/readme.json
/lib/FaceRecognizer/data/face/resource/*
/lib/FaceRecognizer/data/face/transformed/*
/lib/FaceRecognizer/weights/*
/lib/FaceRecognizer/visual/*
/lib/FacialExpressionRecognizer/weights/*
/lib/FacialExpressionRecognizer/visual/*
/lib/FacialExpressionRecognizer/data/fer2013/resource/*
/lib/FacialExpressionRecognizer/data/fer2013/transformed/*
/log/*
/lib/FaceRecognizer/facebank/images/*
/lib/FaceRecognizer/facebank/liu/
/lib/FaceRecognizer/facebank/zhaoliying/
/lib/FaceRecognizer/facebank/facebank.npz